
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
/* Shared styler */

.disply-flex{
    display: flex;
}
/* drah-01 */
.text-gray{
    color: #424242;
}
/* drak-03 */
.text-light-gray{
color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-primery{
color: #ff900e;
}

.btn-primery{
    background-color: #ff900e;
    color: #ffffff;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    
}
main > section{
margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
/* header Style */

/* Nav style */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.navber{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 20px;
}
.nav-link{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}
 .navber, .banner{
    max-width: 1140px;
    margin: 0 auto;
 }
 /* banner style */
 .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
 }
 .banner-title {
    font-size: 4rem;
    font-weight: 700;
 }
 .banner-descrip{
    font-size: 18px;
 }
 .banner-img{
    width: 100%;
 }

/* team style */
.team-container{
    align-items: center;
}
.tem-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px
}
.team-feature{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}
.feature-description{
    font-size: 1rem;
    line-height: 1.8rem;
}
/* some fact related style */
.div-facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.fact-card{
    border: 1px solid #ff900e;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}
/* sponsor related style */

.sponser-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponor-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponor-company img{
    filter: grayscale(100%);
}
 /* responsive media Query */

 @media screen and (max-width: 576px){
    .navber, 
    .nav-links,
    .team-container{
        flex-direction: column;
    }
    .tem-img,
    .div-facts-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .div-facts-container{
        justify-items: center;
        gap: 24px;
    }
    .team-feature{
        margin-left: 20px;
    }
    .sponor-company{
        grid-template-columns: repeat(3, ifr);
    }
    .sponor-company{
        justify-items: center;
        gap: 50px;
    }
 }
 /* medium device */
 @media screen and (min-width: 576px) and (max-width: 992px) {
    .team-container{
        flex-direction: column;
    }
    .team-feature{
        margin-left: 50px auto;
    }
 }